#nav-bar {
  position: fixed;
  background-color: #00a087;
  padding: 0 2em;
  width: 100%;
  height: 80px;
  color: #e8fdff;
}

#nav-bar .logo {
  height: 80px;
  width: 80px;
  float: left;
  filter: invert(98%);
}

#nav-bar .header {
  font-size: 2.5rem;
  line-height: 80px;
  white-space: nowrap;
  float: left;
}

